.App {
  text-align: center;
}

.Nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.Nav ul {
  list-style: none;
  display: flex;
}

.Nav a {
  text-decoration: none;
  padding: .25rem;
}
